.cartaSeleccionable {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: transform 0.2s, border 0.2s;
}

.cartaSeleccionable:hover {
  transform: scale(1.05);
  border-color: #007bff;
}

.selected {
  border-color: #0d6efd; /* Bootstrap primary */
  box-shadow: 0 0 8px rgba(13, 110, 253, 0.5);
}