.card {
  width: 180px;
  height: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* CONTENEDOR IMAGEN */
.imageContainer {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  background: #000;
}

/* IMAGEN */
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.25s ease;
}

/* HOVER GENERAL */
.clickable {
  transition: transform 180ms ease, box-shadow 180ms ease;
}

/* HOVER COLOR */
.clickable:hover {
  transform: translateY(-6px) scale(1.04);
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.2),
    0 0 12px var(--glow) !important;
}

/* ZOOM IMAGEN */
.clickable:hover img {
  transform: scale(1.06);
}

/* TEXTO */
.title {
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  font-size: 12px;
  color: #555;
}

.small {
  font-size: 11px;
  color: #777;
  min-height: 14px;
}

.noImage {
  color: #aaa;
  font-size: 12px;
}

.tipo {
  color: var(--glow);
  font-weight: 600;
}