.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.passwordWrapper .input {
    width: 100%;
    padding: 0.6rem;
    padding-right: 2.8rem;
    font-size: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.toggleButton {
    all: unset;
    position: absolute;
    right: 1em;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
}

.toggleButton:hover {
    color: #000;
}