.footer {
  background-color: #f3f4f6;
  color: #333;
  font-size: 1rem; 
}

.top {
  max-width: 600px; 
  margin: 0 auto;
}

.logo {
  width: 50px; 
  height: 50px;
  margin-bottom: 0.5rem;
}

.appName {
  font-size: 1rem; 
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  line-height: 1.4;
  font-size: 0.85rem;
  margin-bottom: 1rem;
  text-align: center; /* centrado con logo encima */
}

.line {
  height: 1px;
  background-color: #ccc;
  margin: 1rem auto;
  width: 80%;
}

.copy {
  font-size: 0.8rem;
  color: #777;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .description {
    font-size: 0.82rem;
  }

  .logo {
    width: 45px;
    height: 45px;
  }
}