.footer {
  background-color: #f3f4f6;
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #333;
}

.top {
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

.appName {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  line-height: 1.4;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.line {
  height: 1px;
  background-color: #ccc;
  margin: 1rem auto;
  width: 80%;
}

.copy {
  font-size: 0.8rem;
  color: #777;
}