
.formContainer {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 90%;
    margin: 50px auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.input {
    margin-bottom: 1rem;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.error {
    color: var(--tertiary);
    margin-top: 0.5rem;
    text-align: center;
}

.success {
    color: green;
    margin-top: 0.5rem;
    text-align: center;
}

/* Botón ojo */
.passwordWrapper { /* Contenedor para el input de contraseña y el botón de toggle */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea el botón a la derecha */
}

.passwordWrapper .input {
    width: 100%;
    padding-right: 2.8rem; 
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.toggleButton {
    all: unset; /* Eliminar estilos por defecto del botón */
    position: absolute;
    right: 1em; /* Retocar posición */
    top: 50%;
    transform: translateY(-90%);
    height: auto; 
    width: auto;  
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    padding: 0;
    line-height: 1;
    margin: 0;
}

.toggleButton:hover {
    color: #000;
}

/*  */

/* Responsive */
@media (max-width: 480px) {
    .formContainer {
        padding: 1.5rem;
        margin: 30px auto;
    }

    .title {
        font-size: 1.3rem;
    }

    .input {
        font-size: 0.95rem;
        padding: 0.5rem;
    }
}