:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--white);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* mis variables de color */
  --primary: #fbc247;
  --secondary: #0075bb;
  --tertiary: #e22a30;
  --white: #ffffff;
  --black: #262626;
  --graylight: #f3f4f6;
  --graydark: #e5e7eb;

}

/* Sobreescritura de clases bootstrap */

.bg-success{
  background-color: var(--secondary) !important;
  color: var(--white) !important;
}

.bg-warning {
  background-color: var(--primary) !important;
  color: var(--black) !important;
}

.bg-danger {
  background-color: var(--tertiary) !important;
  color: var(--white) !important;
}
/*  */

a {
  font-weight: 500;
  color: var(--secondary);
  text-decoration: inherit;
  transition: all 0.1s ease;
}

a:hover {
  color: var(--primary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.error {
  color: var(--tertiary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--white);
  }
  a:hover {
    color: var(--secondary);
  }
}
