.wrapper {
  padding: 2rem;
}

.image {
  width: 50%;       
  max-width: 20rem; 
  height: auto;     
  margin-bottom: 1rem;
}

.code {
  color: var(--tertiary); 
  font-weight: 700;
}

.homeButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.houseIcon {
  font-size: 1.5rem;
}